/********** Template CSS **********/
:root {
    --primary: #7EBC12;
    --secondary: #FF0F10;
    --light: #F2F2F2;
    --dark: #1D2833;

    /* tambahan */
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg,rgba(255,255,255,.15),rgba(255,255,255,0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0,0,0,.175);
    --bs-border-radius: .375rem;
    --bs-border-radius-sm: .25rem;
    --bs-border-radius-lg: .5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 8px;
    background-color: #ff6d0b !important;
}

.btn-square:hover,
.btn-sm-square:hover,
.btn-lg-square:hover {
    background-color: #cf3b21 !important;
}


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF !important;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--secondary) !important;
}

.navbar-light .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        color: var(--primary);
    }
}


/*** Hero Header ***/
.hero-header {
    background:
        url(../img/bg-round.png),
        url(../img/bg-round-2.png),
        url(../img/bg-square.png),
        url(../img/bg-line.png),
        url(../img/bg-bottom-hero.png);
    background-position:
        0px 40%,
        right 0 top 0,
        left 50% top 0,
        left 50% top 50%,
        center bottom -1px;
    background-repeat: no-repeat;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 11px;
    bottom: 0;
    left: 0;
    border-top: 1px solid #5A5A5A;
    border-bottom: 1px solid #5A5A5A;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 1px;
    bottom: 5px;
    left: 0;
    background: var(--primary);
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -30px;
}

.section-title.text-center::after {
    width: 120px;
    left: 50%;
    margin-left: -60px;
}


/*** Domain Search ***/
.domain {
    background: url(../img/bg-domain.png) center center no-repeat;
    background-size: contain;
}


/*** Comparison ***/
@media (min-width: 992px) {
    .comparison::after {
        position: absolute;
        content: "";
        width: 1px;
        top: 56px;
        bottom: 20px;
        left: 50%;
        background: #DDDDDD;
    }
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--secondary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item .position-absolute {
    background: var(--secondary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF;
}

.testimonial-carousel .owl-item.center .testimonial-item h6 {
    color: var(--dark) !important;
}

.testimonial-carousel .owl-dots {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #DDDDDD;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}


/*** Team ***/
.team-item .bg-primary {
    background-color: #ff6d0b !important;
}
.team-item,
.team-item .bg-primary,
.team-item .bg-primary i {
    transition: .5s;
}

.team-item:hover {
    /* border-color: var(--secondary) !important; */
    border-color: #cf3b21 !important;
}

.team-item:hover .bg-primary {
    /* background: var(--secondary) !important; */
    background: #cf3b21 !important;
}

.team-item:hover .bg-primary i {
    /* color: var(--secondary) !important; */
    color: #cf3b21 !important;
}


/*** Footer ***/
.footer {
    background:
        url(../img/bg-round.png),
        url(../img/bg-round-2.png),
        url(../img/bg-square.png),
        url(../img/bg-line.png),
        url(../img/bg-bottom-footer.png);
    background-position:
        0px 112px,
        right 0 bottom 0,
        left 50% top 80px,
        left 50% bottom 0,
        top center;
    background-repeat: no-repeat;
}

.footer p {
    font-size: 15px;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .3);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/* TAMBAHAN */
.promo-link {
    display: inline-block;
    animation: promo-color 4s cubic-bezier(.68,-.6,.32,1.6) infinite !important;
    color: #000 !important;
}

@keyframes promo-link {
    0% {
        opacity: 0;
        transform: translateX(0px)
    }

    50% {
        opacity: 1;
        transform: translateX(4px);
    }

    100% {
        opacity: 0;
        transform: translateX(0px)
    }
}

@keyframes promo-color {
    0% {
        color: #000 !important;
        opacity: 1;
        transform: translateX(0px);
    }

    50% {
        color: #ff6d0b !important;
        opacity: 1;
        transform: translateX(4px);
        font-weight : bold !important;
        text-shadow: 
            0 0.125em 0 #ff6d0b,
            0 -0.125em 0 #ff6d0b;
    }

    100% {
        color: #000 !important;
        opacity: 1;
        transform: translateX(0px);
        font-weight : bold !important;
    }
}

.btn-login {
    background-color: #FFF !important;
    border: none;
    color: #FF6d0b !important;
    font-weight: bold !important;
    border-radius: 20px;
}

.btn-login:hover {
    background-color: #FF6d0b !important;
    border: none;
    color: #FFF !important;
    font-weight: bold !important;
}

.btn-hero {
    background-color: #FF6d0b !important;
    border: none;
    min-width: 347px;
    border-radius: 32px;
    height: 65px;
    background-color: #ff6d0b;
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
}

.btn-hero:hover {
    background-color: #cf3b21 !important;
    border: none;
}

.hero-header .main-title {
    font-size: 30px !important;
    font-weight: 800 !important;
}

.hero-header .main-title span {
    color: #FF6d0b !important;
    text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
}

.hero-header small {
    font-size: 25px !important;
    font-weight: 800 !important;
    color: #FF6d0b !important;
    text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
}

.domain {
    background-color: #FF6d0b !important;
}

.search-domain input {
    padding: 1.125rem !important;
    border-radius: 20px !important;
    padding: 1.125rem;
    border-radius: 20px;
}

.search-domain .form-control,.search-domain .form-select {
    padding: 1.125rem !important;
    border-radius: 20px !important;
    padding: 1.125rem;
    border-radius: 20px;
}

.search-domain button {
    padding: 1.125rem 2rem 1.125rem 2rem !important;
    border-radius: 20px !important;
    border-radius: 32px !important;
    background-color: #13151b;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    color: #fff;
}

.search-domain button:hover {
    background-color: #212121 !important;
    border: none !important;
}

input:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

select:focus,
select[type="text"]:focus,
select[type="password"]:focus,
select[type="datetime"]:focus,
select[type="datetime-local"]:focus,
select[type="date"]:focus,
select[type="month"]:focus,
select[type="time"]:focus,
select[type="week"]:focus,
select[type="number"]:focus,
select[type="email"]:focus,
select[type="url"]:focus,
select[type="search"]:focus,
select[type="tel"]:focus,
select[type="color"]:focus,
.uneditable-select:focus {   
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.container-xxl .section-title h1 span {
    color: #FF6d0b !important;
}

.service .btn {
    background-color: #ff6d0b; 
    font-weight: 700; 
    color: #fff;
    border: none;
    border-radius: 2rem;
}

.service .btn:hover {
    background-color: #cf3b21 !important;
}

.solution .card {
    display: block;
    z-index: 8;
    background-color: #ff6d0b;
    height: 223px;
    color: #fff;
    width: auto;
    position: relative;
    overflow: hidden;
    isolation: isolate
}

.solution .card img {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.solution .card h3 {
    font-size: 1.25rem !important;
    color: white;
    font-weight: 700!important;
}

.solution .card p {
    width: 65%;
    line-height: 1.3em;
    font-weight: 300;
    font-size: clamp(14px,1vw,1.2rem);
}

.commitment .card {
    height: 330px;
    background-color: #fff8f3;
    border-radius: 20px;
}

.commitment img {
    width: 100px;
    height: 100px;
}

.commitment h3 {
    font-size: 1.5rem !important;
    font-weight: 700!important;
}

.commitment p {
    width: 90%;
    color: #000;
    font-size: 0.95rem !important ;
}

.iklan .card {
    background-color: #feecdd;
    height: auto;
    border-radius: 60px;
}

.iklan .card h3 {
    font-size: clamp(1.5rem,8vw,2.688rem) !important;
    font-weight: 800 !important;
}

.iklan .card h3 span {
    color: #ff6d0b !important;
}

.iklan .card p {
    color: black !important;
}

.iklan .card .btn {
    background-color: #ff6d0b !important;
    font-weight: 700 !important;
    color: #fff !important;
    border: none !important;
    padding: 10px 25px 10px 25px !important;
    border-radius: 20px !important;
}

.iklan .card .btn:hover {
    background-color: #cf3b21 !important;
}

.other {
    color: #ff6d0b; 
    font-weight: 700;
}

.other:hover {
    color: blue; 
}

.quarantee {
    background-color: #feecdd;
    height: auto;
}

.quarantee h3 {
    font-size: clamp(1.5rem,8vw,2.688rem) !important;
    font-weight: 800 !important;
}

.quarantee h3 span {
    color: #ff6d0b !important;
}

.quarantee p {
    color: black !important;
}

.payment h1 {
    font-size: clamp(1rem,8vw,1.8rem) !important;
    font-weight: 800 !important;
}

.testimonial h1 {
    font-size: clamp(1.5rem,8vw,2.688rem) !important;
    font-weight: 800 !important;
}

.testimonial p {
    color: black !important;
}

.testimonial .header-quote:before {
    content: url(https://qwords.com/v2/wp-content/themes/qwords/assets/images/shapes/cite.png);
    position: absolute;
    top: -5px;
    transform: scale(.5) translate(0);
}

.testimonial .header-quote {
    position: relative;
}

.testimonial .header-quote h5 {
    line-height: 1.8rem;
    margin-left: 3rem;
}

.testimonial .quote-details {
    border-left: 5px solid #ff6d0b;
    padding-left: 1em;
    margin-left: 3rem;
    color: #a0a0a0;
    text-decoration-style: dashed;
}

.helpdesk {
    background-color: #feecdd;
    background-image: url(https://qwords.com/v2/wp-content/themes/qwords/assets/images/shapes/bantuan.png);
    background-size: cover;
    min-height: 300px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.helpdesk h1 {
    font-size: clamp(1rem,10vw,2.688rem);
    font-weight: 800;
}

.helpdesk h1 span {
    color: #ff6d0b !important;
}

.helpdesk .contact-col {
    border: 1px solid #ff6d0b;
    padding: 1em;
    border-radius: 2em;
    color: #ff6d0b;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem !important;
    font-weight: 400!important;
}

.helpdesk .contact-col:hover {
    background-color: #ff6d0b;
    transition: .5s;
    color: #fff !important;
}

.helpdesk .contact-col .img-hover {
   display: none !important;
}

.helpdesk .contact-col:hover .img-hover {
    display: block !important;
}

.helpdesk .contact-col:hover .img-normal {
    display: none !important;
}

.footer {
    background: #13151b !important;
}

.footer .btn {
    background-color: #ff6d0b;
    transition: .5s;
    color: #fff !important;
    border: none;
}

.footer .btn:hover {
    background-color: #cf3b21 !important;
}

.footer h3 {
    font-size: 1.25rem !important;
    font-weight: 700!important;
    margin-bottom: 1rem!important;
    color: white;
}

.footer a:hover {
    color: #ff6d0b !important;
    text-decoration: underline !important;
}

.BottomButton_icon__Yjla4 {
    background-image: url("/frontend/img/help.svg");
    background-position: 50%!important;
    background-repeat: no-repeat!important;
    background-size: contain!important;
    position: fixed;
    bottom: 125px !important;
    right: 40px !important;
    width: 60px;
    height: 60px;
    z-index:99;
    background-color: white !important;
    border-radius: 30px !important;
    border: 1px solid black;
    cursor: pointer;
}

.BottomButton_icon__Yjla4 .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    right: 20px;
}
  
.BottomButton_icon__Yjla4:hover .tooltiptext {
    visibility: visible;
}

.faqs h1 span {
    color: #ff6d0b !important;
}

.faqs .accordion .accordion-item .accordion-header p {
    font-size: clamp(1rem,10vw,1.5rem) !important;
    font-weight: 800 !important;
    color: #212121 !important;
}

.accordion-button:focus {
    box-shadow: none !important;
    border-color: none !important;
}

.accordion-item, .accordion-button {
    background: white !important;
}

.accordion-button {
    border-radius: 10px 10px 10px 10px !important;
}

.accordion-button:not(.collapse)::after { 
    background-image: url("/frontend/img/downarrow.png");
    background-color: #FEECDD !important;
    border-radius: 50% !important;
    padding: 5px !important;
}

.accordion-button::after {
    background-image: url("/frontend/img/up.svg");
    background-color: #FEECDD !important;
    border-radius: 50% !important;
    padding: 5px !important;
}

.btn:focus {
    box-shadow: none !important;
    border-color: none !important;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
.form-select:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
    box-shadow: none !important;
    border-color: none !important;
}

.service .service-card:hover {
    box-shadow: 4px 3px 38px -15px rgba(255,109,11,0.75);
    -webkit-box-shadow: 4px 3px 38px -15px rgba(255,109,11,0.75);
    -moz-box-shadow: 4px 3px 38px -15px rgba(255,109,11,0.75);
}

.service .service-other-card:hover {
    box-shadow: 4px 3px 38px -15px rgba(255,109,11,0.75);
    -webkit-box-shadow: 4px 3px 38px -15px rgba(255,109,11,0.75);
    -moz-box-shadow: 4px 3px 38px -15px rgba(255,109,11,0.75);
}

.commitment .card:hover {
    box-shadow: 4px 3px 38px -15px rgba(255,109,11,0.75);
    -webkit-box-shadow: 4px 3px 38px -15px rgba(255,109,11,0.75);
    -moz-box-shadow: 4px 3px 38px -15px rgba(255,109,11,0.75);
}

.registration-form .btn-login {
    background: #ff6d0b !important;
    color: white !important;
}

.registration-form .btn-home {
    background: #cf3b21 !important;
    color: white !important;
}

.registration-form .btn-home a {
    text-decoration: none !important;
}

#banner {
    position: fixed;
    z-index: 999;
    top: 100px;
    left: 50px;
    height: 360px;
    width: 720px;
    background: #FFF;
}

#close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: Arial, Helvetica;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

.container-promo-img {
    position: fixed;
    z-index: 1500;
    top: 100px !important;
    right: 0;
}

.container-promo {
    position: relative;
}

.imgpromo {
    position: relative;
    width: 150px;
    height: 80px;
    background: #cf3b21 !important;
    z-index: 3;
    left: 180px;
    top: 0;
}

.imgstoresection {
    position: relative;
    width: 200px;
    height: 100px;
    z-index: 8;
    top: 90px;
    animation: wiggle 2s linear infinite;
}

img.lazyload:not([src]) {
	visibility: hidden;
}

.navbar-nav .dropdown-menu .dropdown-item .nav_title {
    font-weight: 600 !important;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #FF6d0b !important;
    width: auto !important;
    border-radius: 1rem !important;
    color: white !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}

#promo-sign {
    position: relative;
    -webkit-animation: fading 5s infinite;
    animation: fading 5s infinite;
}

@keyframes fading {
    0% { 
        opacity: 1; 
    }

    50% { 
        opacity: 0.5; 
    }

    100% { 
        opacity: 0.3; 
    }
}

@media (max-width: 576px) { 
    .testimonial .quote,  .testimonial .quote-profil {
        width: 100% !important;
    }

    .commitment .card {
        text-align: center !important;
    }
    
    .commitment img {
        justify-content: center !important;
    }

    .helpdesk .h6home {
        font-size: clamp(1rem,10vw,1rem);
        font-weight: 500;
    }

    .helpdesk .contact-col {
        padding-top: 0.8rem !important;
        padding-bottom: 0.8rem !important;
    }
}

@media (min-width: 1200px) { 
    .navbar-nav .dropdown-menu  {
        width: 42rem !important;
    }

    .dropdown:hover .dropdown-menu-lg-end {
        display: block;
        margin-top: 0;
        right: 0;
        left: auto;
    }
}
